
@import 'base/variables';

// * {
//     font-family: 'Museo Sans Cyrl';
// }

.container {
    position: relative;
    max-width: 947px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/vantage';
@import 'blocks/advice';
@import 'blocks/carousel';
@import 'blocks/shop';

@import 'blocks/media';


@import 'blocks/forms';

//Duplicates
@import 'blocks/title_replay';
@import 'blocks/buttons';