
@import 'base/variables';

// * {
//     font-family: 'Museo Sans Cyrl';
// }
body , html {
    position: relative;
}

.container {
    position: relative;
    max-width: 947px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/vantage';
@import 'blocks/advice';
@import 'blocks/carousel';
@import 'blocks/shop';
@import 'blocks/comments';
@import 'blocks/map';


@import 'modalWindows/blackout';
@import 'modalWindows/modalForm';
@import 'modalWindows/buy';
@import 'modalWindows/thanks';


@import 'blocks/media';


@import 'blocks/forms';

//Duplicates
@import 'blocks/title_replay';
@import 'blocks/buttons';