


.advantages {
    min-height: 329px;
    background-color: #f6f6f6;
    padding: 70px 0 95px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 243px;
        margin-top: 65px;
        .icon {
            display: block;
            margin: 0 auto;
            // height: 75px;
        }
        .hidden-576 {
            text-align: center;
            color: #0d0d0d;
            font-family: "Museo Sans Cyrl 700";
            font-size: 18px;
            margin: 35px 0 0 0;
        }
        .visible-576 {
            display: none;
        }
        .text {
            color: #0d0d0d;
            font-family: "Museo Sans Cyrl 300";
            font-size: 14px;
            text-align: center;
            margin-top: 22px;
            line-height: 21px;
            span {
                color: #ff0000;
                text-decoration: underline;
            }
        }
    }
}