

.carousel {
    // min-height: 743px;
    padding: 82px 0;
    &__wrapper {
        width: 750px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
    &__hidden_box {
        overflow: hidden;
    }
    &__slider_wrapper {
        transition: all 0.5s;
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
    }
    &__slider {
        display: block;
        img {
            width: 750px;
        }
    }
    &__circle_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    &__circle {
        background-color: $main_color;
        opacity: 0.6;
        border-radius: 100%;
        border: none;
        width: 30px;
        height: 30px;
        outline: none;
        color: $main_color;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
        &_active {
            background-color: $main_color;
            opacity: 1;
        }
    }
}
.carousel #previousButArrow , #nextButArrow {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    background-color: white;
    padding: 0;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel #nextButArrow {
    left: 819px;
}
