

.consultation {
    // min-height: 680px;
    background: url('../../img/bg/bg2.jpg') center (center/cover) no-repeat;
    padding: 100px 0 92px 0;
    &__sudtitle {
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 20px;
        margin-bottom: 35px;
    }
}