

@media (max-width: 992px) {
    
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .main {
        &__welcome_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__wrapper_icons {
            margin-right: 0px;
        }
    }

    .vantage {
        &__wrapper_items {
            justify-content: space-around;
        }
        &__item {
            width: 215px;
        }
    }

    .advice {
        padding: 80px 0;
        &__title {
            font-size: 28px;
            line-height: 37px;
            margin-bottom: 55px;
        }
        &__sudtitle {
            font-size: 19px;
            line-height: 20px;
        }
    }
    
    .carousel {
        padding: 70px 0;
        &__wrapper {
            width: 550px;
        }
        &__slider {
            img {
                width: 560px;
            }
        }
    }
    .carousel #previousButArrow {
        left: -85px;
    }
    .carousel #nextButArrow {
        // left: 610px;
        left: 614px;
    }

    .shop .container {
        max-width: 951px;
    }

    .shop {
        &__list_items {
            margin: 30px 0px 10px 0px;
        }

        &__wrapper_frames {
            &_active {
                justify-content: center;
            }
        }
    }

    .comments {
        &__wrapper {
            width: 567px;
            flex-direction: column;
            margin-bottom: 70px;
        }
        &__avatar {
            margin: 0 auto 31px auto;
        }
        &__info {
            &_username {
                text-align: center;
                
            }
            &_marathon {
                text-align: center;
            }
            // &_text {
                
            // }
        }
    }
}

@media (max-width: 768px) {

    .header {
        &__imagine {
            display: none;
        }
    }

    .main {
        padding-bottom: 78px;
        &__title {
            font-size: 35px;
            margin-top: 78px;
        }
        &__subtitle {
            font-size: 19px;
        }
    }

    .vantage {
        padding: 70px 0;
        &__wrapper_items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            display: flex;
            width: 500px;
            align-items: center;
            margin-top: 38px;
            justify-content: center;
            img {
                margin: 0 20px 0 0;
            }
        }
        &__title {
            display: block;
            margin: 0 0 8px 0;
            text-align: left;
        }
        &__hide_small_768 {
            display: none;
        }
        &__descrip {
            margin: 0;
            text-align: left;
        }
    }

    .advice {
        &__title {
            line-height: 33px;
            font-size: 24px;
        }
        &__sudtitle {
            font-size: 17px;
            line-height: 20px;
        }
    }

    .carousel {
        &__wrapper {
            width: 100%;
        }
        // &__slider {
        //     img {
        //         width: 100px;
        //     }
        //     &_active {
        //         img {
        //             width: 500px;
        //         }
        //     }
        // }
    }

    .carousel #previousButArrow , #nextButArrow {
        display: none;
    }

    .shop {
        &__list_items {
            margin: 30px 1px 10px 1px;
        }

        // &__wrapper_frames {
        //     &_active {
        //         justify-content: center;
        //     }
        // }
    }

    .footer {
        .footer__dataLaible {
            width: 320px;
            padding: 30px 0 30px 0;
        }
        .footer__address {
            font-size: 17px;
        }
    }
         
}

@media (max-width: 576px) {

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .header {
        &__logo {
            margin-right: 17px;
        }
        &__phone_box {
            align-items: center;
        }
        &__phone_number {
            font-size: 13px;
        }
    }

    .main {
        padding-bottom: 53px;
        &__title {
            font-size: 24px;
            margin-top: 43px;
        }
        &__subtitle {
            font-size: 12px;
        }
        &__wrapper_icons {
            justify-content: center;
            flex-wrap: wrap;
            width: 320px;
            margin-top: 47px;
        }
        &__icon {
            margin-left: 40px;
            &:first-child {
                margin-left: 0;
                margin-bottom: 30px;
            }
            &:last-child {
                margin: 0 auto;
            }
        }
        &__link {
            font-size: 15px;
            margin-top: 16px;
        }
    }

    .vantage {
        padding: 45px 0;
        &__item {
            width: 235px;
            display: block;
            img {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        &__title {
            margin-bottom: 10px;
            text-align: center;
        }
        &__descrip {
            text-align: center;
        } 
    }

    .advice {
        padding: 65px 0;
        &__title {
            line-height: 33px;
            text-align: center;
            margin-bottom: 37px;
            font-size: 26px;
        }
        &__sudtitle {
            font-size: 16px;
            text-align: center;
        }
    }
    
    .carousel {
        padding: 65px 0;
    }

    .shop {
        &__list_items {
            margin: 30px 10% 10px 10%;
        }
    }

    .comments {
        &__wrapper {
            width: 100%;
        }
    }

    .map {
        &__dataLaible {
            width: 320px;
            padding: 35px 0 30px 0;
        }
        &__dataLaible_address {
            font-size: 17px;
        }
    }




}






















