
@import '../base/variables';

// * {
//     font-family: 'Museo Sans Cyrl';
// }

.container {
    max-width: 947px;
    margin: 0 auto;
}

@import 'main';
@import 'button';
@import 'advantages';
@import 'header';
@import 'media';

.headline { 
    text-align: center;
    color: #0d0d0d;
    font-family: "Museo Sans Cyrl 700";
    font-size: 30px;
    margin: 0;
}

@media (max-width: 768px) {
    .headline {
        font-size: 25px
    }
}

@media (max-width: 576px) {
    .headline {
        font-size: 20px
    }
}

